body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.img-wrap {
    position: relative;
    max-width: 150px;
}

    .img-wrap .remove {
        position: absolute;
        top: 2px;
        right: 1px;
        z-index: 100;
    }

.gallery-image {
    padding-left: 20px;
    padding-right: 20px;
}

.bg-primary {
    color: #fff;
    background-color: #8B5B8F;
}
.text-primary{
    color: #8B5B8F;
}

